.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
}

.details {
  background: #282c34;
  padding-right: 20px;
  padding-left: 20px;
  height: 85vh;
  width: calc(100% - 40px);
  overflow: auto;
  font-family: 'Roboto', sans-serif;
  box-shadow: 10px 10px 40px -12px rgba(0,0,0,75);
}

@media (max-width: 64em){
  .details {
    height: 40vh;
  }
}
